* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),
            rgba(4, 9, 30, 0.7)), url(images/cab-hub.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    box-sizing: border-box;
    text-decoration: none;
}

nav img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #46f436;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: black;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}


/*--why us---*/

.WhyUs {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin: 5%;
    display: flex;
    justify-content: space-between;
}

.ride-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.ride-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.Best {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

#services {
    padding: 50px 100px;
    background-color: #eff2cd;
}

.card {
    padding: 3% 2%;
}

#services img.card-img-top {
    height: 200px;
    margin-top: 10px;
}

#services .card {
    margin: 2rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
}
.card-bottom{
  font-size: 1.5rem;
  margin-right: 5%;
}
/* request a cab style */
.request_cab{
  position: absolute;
  margin-top: 350px;
}

.cab_div {
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cab_div>form {
    margin: 50px;
    background: #ffffff;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.cab_div>form>div {
    margin: 10px;
}

.cab_div>form>div>input {
    width: 295px;
    height: 40px;
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
}

.cab_div>form>button {
    margin: 10px;
    background: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    width: 300px;
    height: 40px;
    font-weight: 900;
}

.err_output {
    color: red
}

#download {
    padding: 7% 15%;
    text-align: center;
}

.download-button {
    margin: 3% 3% 3% 0;
}

#footer .container-fluid {
    padding: 3% 15%;
    text-align: center;
    background-color: #393939;
}

.social-icon {
    padding: 20px 10px;
    font-size: 1.5rem;
}

.social-icon:hover {
    color: #1C3879;
}

.apple:hover {
    color: #E0144C;
}
.google:hover {
    color: #54B435;
}